In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('preprocessed_df.csv')

In [3]:
movies.head()

,Unnamed: 0,movie_id,title,genres,overview,keywords,cast,crew,vote_average,vote_count
0,0,19995,['Avatar'],"['Action', 'Adventure', 'Fantasy', 'ScienceFic...","['In', 'the', '22nd', 'century,', 'a', 'parapl...","['cultureclash', 'future', 'spacewar', 'spacec...","['SamWorthington', 'ZoeSaldana', 'SigourneyWea...",['JamesCameron'],7.2,11800
1,1,285,"['Pirates', 'of', 'the', 'Caribbean:', 'At', ""...","['Adventure', 'Fantasy', 'Action']","['Captain', 'Barbossa,', 'long', 'believed', '...","['ocean', 'drugabuse', 'exoticisland', 'eastin...","['JohnnyDepp', 'OrlandoBloom', 'KeiraKnightley...",['GoreVerbinski'],6.9,4500
2,2,206647,['Spectre'],"['Action', 'Adventure', 'Crime']","['A', 'cryptic', 'message', 'from', 'Bond’s', ...","['spy', 'basedonnovel', 'secretagent', 'sequel...","['DanielCraig', 'ChristophWaltz', 'LéaSeydoux'...",['SamMendes'],6.3,4466
3,3,49026,"['The', 'Dark', 'Knight', 'Rises']","['Action', 'Crime', 'Drama', 'Thriller']","['Following', 'the', 'death', 'of', 'District'...","['dccomics', 'crimefighter', 'terrorist', 'sec...","['ChristianBale', 'MichaelCaine', 'GaryOldman'...",['ChristopherNolan'],7.6,9106
4,4,49529,"['John', 'Carter']","['Action', 'Adventure', 'ScienceFiction']","['John', 'Carter', 'is', 'a', 'war-weary,', 'f...","['basedonnovel', 'mars', 'medallion', 'spacetr...","['TaylorKitsch', 'LynnCollins', 'SamanthaMorto...",['AndrewStanton'],6.1,2124

In [4]:
from ast import literal_eval 
#literal_eval is used to covert given string to list for easy exctation
def extract(x):
    List=[]
    for i in literal_eval(x):
        List.append(i)
    return List

In [5]:
movies['title'] = movies['title'].apply(extract)
movies['genres'] = movies['genres'].apply(extract)
movies['overview'] = movies['overview'].apply(extract)
movies['keywords'] = movies['keywords'].apply(extract)
movies['cast'] = movies['cast'].apply(extract)
movies['crew'] = movies['crew'].apply(extract)

In [6]:
movies.head()

,Unnamed: 0,movie_id,title,genres,overview,keywords,cast,crew,vote_average,vote_count
0,0,19995,[Avatar],"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],7.2,11800
1,1,285,"[Pirates, of, the, Caribbean:, At, World's, End]","[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],6.9,4500
2,2,206647,[Spectre],"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],6.3,4466
3,3,49026,"[The, Dark, Knight, Rises]","[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],7.6,9106
4,4,49529,"[John, Carter]","[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],6.1,2124

In [7]:
movies['tags'] = movies['title'] + movies['cast'] + movies['crew'] + movies['genres'] + movies['keywords'] + movies['overview']

In [8]:
movies = movies[['movie_id', 'title', 'tags']]
movies.head()

,movie_id,title,tags
0,19995,[Avatar],"[Avatar, SamWorthington, ZoeSaldana, Sigourney..."
1,285,"[Pirates, of, the, Caribbean:, At, World's, End]","[Pirates, of, the, Caribbean:, At, World's, En..."
2,206647,[Spectre],"[Spectre, DanielCraig, ChristophWaltz, LéaSeyd..."
3,49026,"[The, Dark, Knight, Rises]","[The, Dark, Knight, Rises, ChristianBale, Mich..."
4,49529,"[John, Carter]","[John, Carter, TaylorKitsch, LynnCollins, Sama..."

In [9]:
movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))
movies['tags'] = movies['tags'].apply(lambda x:x.lower())

In [10]:
movies['tags'][0]

'avatar samworthington zoesaldana sigourneyweaver stephenlang jamescameron action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [11]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [12]:
movies['tags'] = movies['tags'].apply(stem)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 6000, stop_words='english')
matrix = cv.fit_transform(movies['tags']).toarray()

In [14]:
matrix.shape

(4818, 6000)

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
#returns dot product
similarity = cosine_similarity(matrix)

In [16]:
np.save('similarity', similarity)
np.save('occurance', matrix)

In [18]:
import pickle
pickle.dump(similarity, open('similarity.pkl', 'wb'))
pickle.dump(matrix, open('occurance.pkl', 'wb'))